@font-face {
    font-family: 'Montserrat';
    src: url('/www/fonts/Montserrat-Thin.woff');
    font-weight: 100;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('/www/fonts/Montserrat-ExtraLight.woff');
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('/www/fonts/Montserrat-Light.woff');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('/www/fonts/Montserrat-Regular.woff');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('/www/fonts/Montserrat-Medium.woff');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('/www/fonts/Montserrat-SemiBold.woff');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('/www/fonts/Montserrat-Bold.woff');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('/www/fonts/Montserrat-ExtraBold.woff');
    font-weight: 800;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('/www/fonts/Montserrat-Black.woff');
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}